<!-- community garden initiative that has a traditional and hydroponic aspect, classes held here -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Story</title>
    {% load static %}
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    {% include '_header_partial.html' %}
    <main>
      <section class="section-about">
        <div class="row">
          <div class="col-1-of-2">
            <img src="#" alt="Farm" />
          </div>
          <div class="col-1-of-2">
            <div class="about-box">
              <h2 class="heading">Join Our Community</h2>
              <p class="about-box__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
                vero eligendi, illo vel tempore pariatur nostrum! Reprehenderit
                tenetur itaque, at nostrum animi libero cumque sint vel? Tempora
                cupiditate nam perferendis!
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    {% include '_footer_partial.html'%}
  </body>
</html>
