<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hydroponic Farm</title>
    {% load static %}
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="navigation">
        <div class="header__top">
          <a href="/" class="navigation__link">
            <img src="#" alt="Logo" class="navigation__logo" />
          </a>
          {% if customer == 'customer' %}
          <a href="/signIn" class="navigation__link">
            <button class="btn-login">Login/Register</button>
          </a>
          {% else %}
          <a class="cart" href="/cart">
            <h5 class="heading-cart">
              <i class="fas fa-shopping-cart"></i>
            </h5>
            <h5 class="heading-cart">cart ({{count}})</h5>
          </a>
          {% endif %}
        </div>
        <nav class="navigation__nav">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a href="/about" class="navigation__link">About</a>
            </li>
            <li class="navigation__item">
              <a href="/produce" class="navigation__link">Produce</a>
            </li>
            <li class="navigation__item">
              <a href="/flowers" class="navigation__link">Flowers</a>
            </li>
            <li class="navigation__item">
              <a href="/specialty" class="navigation__link">Specialty Items</a>
            </li>
            <li class="navigation__item">
              <a href="/bulk" class="navigation__link">Bulk Orders</a>
            </li>
            <li class="navigation__item">
              <a href="/subscriptions" class="navigation__link"
                >Subscriptions</a
              >
            </li>
            <li class="navigation__item">
              <a href="/contact" class="navigation__link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="section-search">
        <div class="row">
          <h1 class="welcome">Welcome, {{customer}}!</h1>
        </div>
        <div class="row">
          <div class="search-box">
            <input
              type="text"
              class="search-box__input"
              placeholder="Search"
              aria-label=""
              aria-describedby="basic-addon1"
            />
            <div class="search-box__btn">
              <button class="btn-green" type="button">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </section>
      <section class="section-banner">
        <div class="row">
          <div class="banner-box">
            Hero banner of veggies, equipment, honey, subscriptions
          </div>
        </div>
      </section>
      <section class="section-quicklinks">
        <div class="row">
          <div class="col-1-of-4">
            <div class="quicklinks-box">
              <img src="#" alt="product on sale" />
              <h2 class="heading-secondary">Today's Deals</h2>
              <p class="quicklinks__text">
                Checkout our amazing deals happening today!
              </p>
              <button class="btn-green">
                <a href="/deals" class="quicklinks__link">Shop</a>
              </button>
            </div>
          </div>
          <div class="col-1-of-4">
            <div class="quicklinks-box">
              <img src="#" alt="product on sale" />
              <h2 class="heading-secondary">New Subscriptions Available</h2>
              <p class="quicklinks__text">
                Subscribe to receive weekly subscription boxes for the freshest
                ingredients available!
              </p>
              <button class="btn-green">
                <a href="" class="quicklinks__link">Shop</a>
              </button>
            </div>
          </div>
          <div class="col-1-of-4">
            <div class="quicklinks-box">
              <img src="#" alt="product on sale" />
              <h2 class="heading-secondary">Seasonal Rotation</h2>
              <p class="quicklinks__text">
                Review our current inventory and when items will be stocked
                throughout the year!
              </p>
              <button class="btn-green">
                <a href="" class="quicklinks__link">View</a>
              </button>
            </div>
          </div>
          <div class="col-1-of-4">
            <div class="quicklinks-box">
              <img src="#" alt="product on sale" />
              <h2 class="heading-secondary">Recipe of the Week</h2>
              <p class="quicklinks__text">
                Put those fresh ingredients to use with this amazing new recipe
                from our staff!
              </p>
              <button class="btn-green">
                <a href="" class="quicklinks__link">View</a>
              </button>
            </div>
          </div>
        </div>
      </section>
      <section class="section-promotions">
        <div class="row">
          <div class="col-1-of-3">
            <div class="promotions-box">
              <img src="#" alt="product on sale" />
              <h2 class="heading-secondary">Hydroponic Classes</h2>
              <p class="promotions__text">
                Put those fresh ingredients to use with this amazing new recipe
                from our staff!
              </p>
              <button class="btn-green">
                <a href="" class="promotions__link">View</a>
              </button>
            </div>
          </div>
          <div class="col-1-of-3">
            <div class="promotions-box">
              <img src="#" alt="product on sale" />
              <h2 class="heading-secondary">Partner with Us</h2>
              <p class="promotions__text">
                Put those fresh ingredients to use with this amazing new recipe
                from our staff!
              </p>
              <button class="btn-green">
                <a href="" class="promotions__link">View</a>
              </button>
            </div>
          </div>
          <div class="col-1-of-3">
            <div class="promotions-box">
              <img src="#" alt="product on sale" />
              <h2 class="heading-secondary">Community Garden</h2>
              <p class="promotions__text">
                Put those fresh ingredients to use with this amazing new recipe
                from our staff!
              </p>
              <button class="btn-green">
                <a href="" class="promotions__link">View</a>
              </button>
            </div>
          </div>
        </div>
      </section>
      <section class="section-details">
        <div class="row">
          <div class="col-1-of-2">
            <div class="details-box">Map</div>
          </div>
          <div class="col-1-of-2">
            <div class="details-box">
              <h2 class="heading-secondary">Location and Hours</h2>
              <p class="details__text">Hours: 9am - 5pm Monday - Saturday</p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__logo-box">
        <img src="#" alt="Full logo" class="footer__logo" />
      </div>
      <div class="row">
        <div class="col-1-of-2">
          <div class="footer__navigation">
            <ul class="footer__list">
              <li class="footer__item">
                <a href="#" class="footer__link">Company</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Contact us</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Careers</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Privacy Policy</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Terms</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-1-of-2">
          <p class="footer__copyright">
            Design by <a href="#" class="footer__link">Spencer Huyck</a> using
            Django/Python/SQLite. Copyright &copy; by Spencer Huyck.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
