<!-- product detail page -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hydroponic Farm</title>
    {% load static %}
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="navigation">
        <div class="header__top">
          <div class="header__top--left">
            <a href="/" class="navigation__link-1">
              <img
                src="static/images/logo_1.png"
                alt="Logo"
                class="navigation__logo"
              />
              <h3 class="navigation__logo-text">Hydroponic Farm</h3>
            </a>
          </div>
          <div class="header__top--right">
            {% if customer == 'customer' %}
            <a href="/signIn" class="navigation__link">
              <button class="btn-login">Login/Register</button>
            </a>
            {% else %}
            <a class="cart" href="/cart">
              <h5 class="heading-cart">
                <i class="fas fa-shopping-cart"></i>
              </h5>
              <h5 class="heading-cart">cart ({{count}})</h5>
            </a>
            {% endif %}
          </div>
        </div>
        <nav class="navigation__nav">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a href="/about" class="navigation__link">About</a>
            </li>
            <li class="navigation__item">
              <a href="/produce" class="navigation__link">Produce</a>
            </li>
            <li class="navigation__item">
              <a href="/flowers" class="navigation__link">Flowers</a>
            </li>
            <li class="navigation__item">
              <a href="/specialty" class="navigation__link">Specialty Items</a>
            </li>
            <li class="navigation__item">
              <a href="/bulk" class="navigation__link">Bulk Orders</a>
            </li>
            <li class="navigation__item">
              <a href="/subscriptions" class="navigation__link"
                >Subscriptions</a
              >
            </li>
            <li class="navigation__item">
              <a href="/contact" class="navigation__link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      
        <div class="row">

            <div class="details-box">
              <div class="details-box__left">
                <img src="#" alt="product" />
              </div>
              <div class="details-box__right">
                <h1>{{customer}}</h1>
                <h1 class="heading-product">{{this_product.name}}</h1>
                <h3 class="product__price">{{this_product.price}}</h3>          
                <p class="product__text">{{this_product.desc}}</p>
                <form action="/add-to-cart" method="post" class="purchase">
                  {% csrf_token %}
                  <div class="form-row">
                    <input type="hidden" name="itemToAdd" value={{this_product.name}}>
                  </div>
                  <div class="form-row">
                    <input type="hidden" name="price" value="{{this_product.price}}">
                  </div>
                  <div class="form-row">
                    <label for="quantity">Quantity:</label>
                    <input type="number" name="quantity" id="quantity" min="0" max="5"/>
                  </div>
                  <input type="submit" value="Add to cart">
                </form>
              </div>
            </div>

          
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__logo-box">
        <img src="#" alt="Full logo" class="footer__logo" />
      </div>
      <div class="row">
        <div class="col-1-of-2">
          <div class="footer__navigation">
            <ul class="footer__list">
              <li class="footer__item">
                <a href="#" class="footer__link">Company</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Contact us</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Careers</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Privacy Policy</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Terms</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-1-of-2">
          <p class="footer__copyright">
            Design by <a href="#" class="footer__link">Spencer Huyck</a> using
            Django/Python/SQLite. Copyright &copy; by Spencer Huyck.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
