<!-- product detail page -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hydroponic Farm</title>
    {% load static %}
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    {% include '_header_partial.html' %}
    <main>
      
        <div class="row">

            <div class="details-box">
              <div class="details-box__left">
                <img
                  src="/static/images/product.jpg"
                  alt="product"
                  width="300px"
                  height="300px"
                />
              </div>
              <div class="details-box__right">
                <h1>{{customer}}</h1>
                <h1 class="heading-product">{{this_product.name}}</h1>
                <h3 class="product__price">{{this_product.price}}</h3>          
                <p class="product__text">{{this_product.desc}}</p>
                <form action="/add-to-cart" method="post" class="purchase">
                  {% csrf_token %}
                  <div class="form-row">
                    <input type="hidden" name="itemToAdd" value={{this_product.name}}>
                  </div>
                  <div class="form-row">
                    <input type="hidden" name="price" value="{{this_product.price}}">
                  </div>
                  <div class="form-row">
                    <label for="quantity">Quantity:</label>
                    <input type="number" name="quantity" id="quantity" min="0" max="5"/>
                  </div>
                  <input type="submit" value="Add to cart">
                </form>
              </div>
            </div>

          
        </div>
      </section>
    </main>
    {% include '_footer_partial.html'%}
  </body>
</html>
