.section-search {
}
.section-banner {
  width: 80%;
  margin: 5rem 20rem;
}
.section-quicklinks {
  margin: 5rem 0rem;
}
.section-promotions {
  width: 80%;

  margin: 5rem 20rem;
  border-radius: 5px;
}
.section-details {
  margin: 5rem 0rem;
}
