.section-search {
}
.section-banner {
  width: 80%;
  margin: 5rem 20rem;
}
.section-quicklinks {
  margin: 5rem 0rem;
}
.section-promotions {
  width: 80%;

  margin: 5rem 20rem;
  border-radius: 5px;
}
.section-details {
  width: 100%;
  margin-top: 5rem;
  border-radius: 5px 5px 0px 0px;
  padding: 1.5rem 0rem;
  background-image: linear-gradient(
    to bottom,
    $color-primary-dark,
    $color-grey-dark-3
  );
  color: transparent;
}
